.App {
  text-align: center;
  scroll-behavior: smooth;
}

html{
  scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
  font-family: "Nunito Sans", sans-serif;
}

.Background {
  background-color: #00090E;

  color: #6699CC;
}
.empty{
  height: 25px;
}
.empty9{
  height: 50px;
}
.empty2{
  height: 170px;
}
.Intro{
  font-size: 25px;
  font-weight: 500;
}
.name{
  color:#e6eeff ;
}
.about{
  background-color: #B3CCFF;
  height: 100vh;
  margin-bottom: -40px;
}
@media (max-width:764px) {
  .about{
height: 600px;
  }
}
.xms{

}
.photoja{

}
.photography{
margin-top: -40px;
margin-right: 50px;
animation: updown 4s linear infinite;
}
@media (max-width:764px) {
  .photography{
 margin-top: 20px;
 margin-left: 50px;
  }
}

.pfbtn{
  border-radius: 5px;
  width: max-content;
  background-color: #6699CC;
}
@keyframes updown {
  0%{
    transform: translateY(-50);
  }
  100%{
    transform: translateY(0);
  }
}
@media (max-width:616px) {
  .profili{
 display: none;
  }
}
.card0{
  width: 215px;
  border-radius: 10px;
  height: 70px;
  background-color:#B3CCFF ;
  color: #00090E;
}
.card {
  width: 500px;
  height: 254px;
  transition: all 0.4s;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px  rgba(0, 9, 14,0.4);
  font-size: 30px;
  font-weight: 900;
}
.card2{
  width: 500px;
  height: 254px;
  transition: all 0.4s;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px  rgba(0, 9, 14,0.4);
  font-size: 30px;
  font-weight: 900;
}
@media (max-width:520px) {
  .card{
    width: 450px;
  }
  .card2{
    width: 450px;
  }
  .card3{
    width: 450px;
  }
}

@media (max-width:520px) {
  .card3{
    width: 450px;
  }
}

.card3{
  width: 500px;
  height: 254px;
  transition: all 0.4s;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px  rgba(0, 9, 14,0.4);
  font-size: 30px;
  font-weight: 900;
}


.card:hover {
  border-radius: 15px;
  cursor: pointer;
  transform: scale(1);
  box-shadow: 0px 0px 10px 5px  rgba(0, 9, 14,0.55);
  background-image: url(images/autoz.PNG);
  background-repeat: no-repeat;
  background-size: cover;
}
.card2:hover {
  border-radius: 15px;
  cursor: pointer;
  transform: scale(1);
  box-shadow: 0px 0px 10px 5px  rgba(0, 9, 14,0.55);
  background-image: url(images/keepco.PNG);
  background-repeat: no-repeat;
  background-size: cover;
}

.card3:hover {
  border-radius: 15px;
  cursor: pointer;
  transform: scale(1);
  box-shadow: 0px 0px 10px 5px  rgba(0, 9, 14,0.55);
  background-image: url(images/Capture.PNG);
  background-repeat: no-repeat;
  background-size: cover;
}

.first-content {
  height: 100%;
  background-image: url(images/autoz.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  border-radius: 15px;
}
.first-content2{
  height: 100%;
  background-image: url(images/keepco.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30%;
  width: 100%;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  border-radius: 10px;
}
.first-content3{
  height: 100%;
  background-image: url(images/Capture.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  width: 100%;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  border-radius: 10px;
}

.card:hover .first-content{
  height: 0px;
  opacity: 0;
}
.card2:hover .first-content2{
  height: 0px;
  opacity: 0;
}
.card3:hover .first-content3{
  height: 0px;
  opacity: 0;
}

.second-content {
  height: 0%;
  width: 100%;
  opacity: 0;
  background: rgba( 191, 236, 255, 0.25 );
backdrop-filter: blur( 4.5px );
-webkit-backdrop-filter: blur( 4.5px );
  border-radius: 15px;
  transition: all 0.4s;
  font-size: 0px;
  display: none;
}

.card:hover .second-content {
  opacity: 1;
  height: 100%;
  font-size: 1.8rem;
  transform: rotate(0deg);
  cursor: default;
  display: flex;
}
.card2:hover .second-content {
  opacity: 1;
  height: 100%;
  font-size: 1.8rem;
  transform: rotate(0deg);
  cursor: default;
  display: flex;
}
.card3:hover .second-content {
  opacity: 1;
  height: 100%;
  font-size: 1.8rem;
  transform: rotate(0deg);
  cursor: default;
  display: flex;
}

.inmg{

}


.view{
  background-color:#66ADCC4d ;
  color:#B3CCFF ;
  border-radius: 10px;
  width: max-content;
  padding: 10px;
  margin-top: 15px;
  transition: transform 0.5s ease-in-out;
}
.view2{
  background-color:#66ADCC4d ;
  margin-top: 15px;
  color:#B3CCFF ;
  transform: scale(1.1);
  border-radius: 10px;
  width: max-content;
  padding: 10px;
  box-shadow: 0px 2px 14px 4px rgba(191,236,255,0.75);
-webkit-box-shadow: 0px 2px 14px 4px rgba(191,236,255,0.75);
-moz-box-shadow: 0px 2px 14px 4px rgba(191,236,255,0.75);
transition: 0.5s ease-in-out;
}

.view3{
  background-color: transparent;
  margin-top: 15px;
  color:#6699CC ;
  padding: 10px;
  width: max-content;
  transition: transform 0.5s ease-in-out;
}
.view4{
  transform: scale(1.1);
}
.bold{
  color: #6699CC;
  font-weight: 800;
}
.bold2{
  color: #e6eeff;
  font-weight: 700;
}
.line{
  width: 60px;
  height: 3px;
  background-color: #B3CCFF;
}
.line2{
  width: 90px;
  height: 3px;
  margin-left: 0px;
  background-color: #00090E;
}
.nonomi{
  font-weight: 700;
}
.nonomi2{
  color: #00090E;
  font-weight: 700;
}
.hamburger{
  display: none;
}
@media (max-width:764px) {
  .hamburger{
    display: block;
    margin-right: 10px;
  }
}
@media (max-width:764px) {
  .nonomi{
    display: none;
  }
  
}

.drawer {
  position: absolute;
  top: -64%;
  left: 0;
  background: rgba( 179, 204, 255, 0.85 );
box-shadow: 0 8px 32px 0 rgba(191, 236, 255,0.37);
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
  width: 250px;
  height:max-content;
  padding: 10px;
  border-radius: 5px;
  z-index: 9999; /* Ensure the drawer is on top */
  margin-left: -218px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba( 179, 204, 255, 0.35 );
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  z-index: 9998; /* Place the backdrop behind the drawer but on top of other content */
}
.Skills{
  background-color: #00090E;
  color:#B3CCFF ;
  height: 150px;
  position: relative;
}

.Skills .slider {
width: 600px;
}


.Skills::-webkit-scrollbar {
  width: 2px; /* width of the scrollbar */
  margin-top: 2px;
}

.Skills::-webkit-scrollbar-track {
  background-color: #B3CCFF; /* color of the track */
}
.Skills::-webkit-scrollbar-thumb {
  background-color: #66ADCC; /* color of the thumb */
  border-radius:10px; /* rounded corners for the thumb */
}
.Skills::-webkit-scrollbar-thumb:hover {
  background-color: #6699CC; /* color of the thumb on hover */
}

.Portfolio{
  background-color: #B3CCFF;
  color: #00090E;
  
}